<select class="form-control" onchange={{action "updateValue" value="target.value"}}>
  {{#each options as |option|}}
    <option value='{ "unit":"{{option.unit}}","limit":{{option.limit}},"view":"{{option.view}}" }' selected="{{is-equal option.view isSelected}}">{{option.name}}</option>
  {{/each}}
</select>

{{yield}}